---
layout: default
---
{% if site.TBA_modus == false %}
<div class="jumbotron landing" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="fronttitle"><span class="brand">ACAIS 2017:</span><br/> <span class="theme">SurvAIval</span></h1>
        <p class="lead">AI is becoming more and more well known and relevant, and many people worry about the future of humans as a species. This is why we present ACAIS 2017: SurvAIval, a day with interesting talks and discussions.</p>


        <p class="lead">Are you interested in the latest developments regarding the research field of Artificial Intelligence?</p>

        <p class="lead"><strong>Join us on the 10th of May and discover!</strong></p>

        
        <p>
          <a href="#order-tickets" class="btn btn-primary btn-lg" role="button"><i class="fa fa-ticket fa-lg fa-fw"></i> Order tickets</a>
        </p>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">

    <h2 class="title">The latest developments and innovations in the field, <br>packed into a single day.</h2>

   <p class="lead">ACAIS 2017 takes place on the 10th of May in Nijmegen,<br> from 9:30 till 17:30 with an optional dinner till 21:30.</p>
   
  </div>

  <hr>
  {% if site.hide_feature_overview == false %}
  <!--
<div class="row tile-features" id="overview">

<div class="col-md-4">
<div class="tile">

<img class="tile-image" src="img/what-to-expect.jpg" alt="What to expect">
<h3 class="tile-title">Keynotes</h3>
<br>
<p>ACAIS 2016 will have two keynotes, each highlighting a unique topic.</p>

<a href="#keynotes" class="btn btn-primary btn-large btn-block">View keynotes</a>
</div>
</div>

<div class="col-md-4">
<div class="tile">

<img class="tile-image" src="img/presentation.jpg" alt="Presentation">
<h3 class="tile-title">Two seperate tracks</h3>
<br>
<p>Besides the keynotes you will have enough options to customise your programme! We will organise two seperate tracks spread out over multiple topics.</p>

<a href="#invited-talks" class="btn btn-primary btn-large btn-block">View invited talks</a>
</div>
</div>

<div class="col-md-4">
<div class="tile">

<img class="tile-image" src="img/pompe.jpg" alt="Pompe clinic">
<h3 class="tile-title">Unique Location</h3>
<br>
<p>We are guests at the Pompe Foundation which is a specialized Forensic Psychiatric Center. The Pompe Foundation offers forensic psychiatric care for TBS-patients in the clinic in Nijmegen.</p>

<a href="#venue" class="btn btn-primary btn-large btn-block">View venue</a>
</div>
</div>
</div>

<hr>
-->

  <!--
<div class="row" id="keynotes">
<div class="col-md-12 text-center">
<h2>Keynotes</h2>
</div>
</div>

<div class="row text-center">


<div class="col-md-6">
<a href="/2015/computer-aided-diagnosis">
<img src="img/speakers/nicokarssemeijer.jpeg" alt="Nico Karssemeijer" class="keynote-photo">
<h3>
Nico Karssemeijer
<br>
<small class="subheader">Diagnostic Image Analysis Group &amp; Institute for Computing and Information Sciences, Radboudumc</small>
</h3>
<p class="talk-title">Computer Aided Diagnosis</p>
</a>
</div>

<div class="col-md-6"> 
<a href="/2015/the-future-of-parkinson-care">
<img src="img/speakers/basbloem.jpg" alt="Bas Bloem" class="keynote-photo">
<h3>
Bas Bloem
<br>
<small class="subheader">Parkinson Center Nijmegen (ParC)</small>
</h3>
<p class="talk-title"><small>The future of (Parkinson) care</small></p>
</a>
</div>

</div>

<hr>
-->

  <div class="row" id="invited-talks">
    <div class="col-md-12 text-center">
      <h2>Invited talks</h2>
      <p class="lead">Currently confirmed programme below. See the <a href="#timetable">Timetable</a> for the full programme!</p>
    </div>
  </div>

   <div class="row text-center invited-talks">
<!--
<div class="col-md-3">
<a href="/2015/neurofeedback-games-for-children">
<img src="img/speakers/isabelagranic.jpg" alt="Isabela Granic" class="speaker-photo">
<h3>
Isabela Granic
<br>
<small>Developmental Psychopathology department, Behavioural Science Institute, Radboud University</small>
</h3>
<p class="talk-title">The development and evaluation of neurofeedback games built for children’s emotional health and well-being</p>
</a>
</div>
-->
</div> 

  <div class="row text-center invited-talks">
    <div class="col-md-3">
      <a href="/2017/still-a-long-way-to-ai/">
        <img src="img/speakers/georgekachergis.jpg" alt="George Kachergis" class="speaker-photo">
        <h3>
          George Kachergis
          <br>
          <small>RU Nijmegen</small>
        </h3>
        <p class="talk-title">Adaptive Educational Apps for Self-thaught Literacy and Numeracy</p>
      </a>
    </div>

    <div class="col-md-3">
      <a href="/2017/tradr/">
        <img src="img/speakers/joachimdegreeff.jpg" alt="Joachim de Greeff" class="speaker-photo">
        <h3>
          Joachim de Greeff
          <br>
          <small>TU Delft</small>
        </h3>
        <p class="talk-title">TBA</p>
      </a>
    </div>

    <div class="col-md-3">
      <a href="/2017/beyond-AR-and-the-internet-of-brains/">
        <img src="img/speakers/peterwerkhoven.jpg" alt="Peter Werkhoven" class="speaker-photo">
        <h3>
          Peter Werkhoven
          <br>
          <small>TNO, Utrecht University</small>
        </h3>
        <p class="talk-title">Beyond AR and the internet of brains</p>
      </a>
    </div>

    <div class="col-md-3">
      <a href="/2017/">
        <img src="img/speakers/tba.jpg" alt="Gerben Feddes" class="speaker-photo">
        <h3>
          Gerben Feddes
          <br>
          <small>RDW</small>
        </h3>
        <p class="talk-title">TBA</p>
      </a>
    </div>
  </div>

  <div class="row text-center invited-talks">
    <div class="col-md-3">
      <a href="/2017/ai-and-law-an-overview/">
        <img src="img/speakers/henryprakken.jpg" alt="Henry Prakken" class="speaker-photo">
        <h3>
          Henry Prakken
          <br>
          <small>Utrecht University</small>
        </h3>
        <p class="talk-title">AI &amp; Law: an overview from an argumentation perspective</p>
      </a>
    </div>

    <div class="col-md-3">
      
        <img src="img/speakers/tba.jpg" alt="Frank Leone" class="speaker-photo">
        <h3>
          Frank Leone
          <br>
          <small>RU Nijmegen</small>
        </h3>
        <p class="talk-title">Discussion</p>
      
    </div>
  </div>

  <hr>

  <div class="col-md-8 col-md-offset-2">
    <table class="table table-hover table-bordered" id="timetable">
      <thead>
        <tr>
          <th>Time</th>
          <th>Track 1</th>
          <th>Track 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>9:30</td>
          <td class="text-center" colspan="2"><b>Registration</b> &amp; coffee/tea</td>
        </tr>
        <tr>
          <td>10:30</td>
          <td class="text-center" colspan="2"><b>Opening</b></td>
        </tr>
        <tr>
          <td>10:45</td>
          <td class="text-center" colspan="2">
            <a href="/2017/tradr">
              <b>The TRADR project: applied Human-Robot Teaming in the context of Search &amp; Rescue</b>
              <br>
              Joachim de Greeff
            </a>
          </td>
        </tr>
        <tr>
          <td>11:45</td>
          <td class="text-center" colspan="2">
            <a href="/2017/beyond-AR-and-the-internet-of-brains/">
              <b>Beyond AR &amp; The internet of brains</b>
              <br>
              Peter Werkhoven
            </a>
          </td>
        </tr>
        <tr>
          <td>12:30</td>
          <td class="text-center" colspan="2">
            <b>Lunch</b>
          </td>
        </tr>
        <tr>
          <td>13:15</td>
          <td class="text-center">
            <a href="/2017/">
              <b>TBA</b>
              <br>
              Gerben Feddes
            </a>
          </td>
          <td class="text-center">
            <a href="/2017/still-a-long-way-to-ai/">
              <b>Adaptive Educational Apps for Self-taught Literacy and Numeracy</b>
              <br>
              George Kachergis
            </a>
          </td>
          <!--
          <td class="text-center">
            <a href="/2016/computer-aided-diagnosis-of-dementia/">
              <b>Computer-aided Diagnosis of Dementia</b>
              <br>
              Esther Bron, Biomedical Imaging Group Rotterdam, Erasmus MC/NL
            </a>
          </td>
          -->
        </tr>
        <tr>
          <td>14:15</td>
         <td class="text-center">
            <a href="/2017/">
              <b>TBA</b>
              <br>
              Pim Haselager
            </a>
          </td>
          <td class="text-center">
            <a href="/2017/">
              <b>TBA</b>
              <br>
              Fokie Cnossen
            </a>
          </td>
        </tr>
        <tr>
          <td>15:00</td>
          <td class="text-center" colspan="2">
            <b>Break</b>
          </td>
        </tr>
        <tr>
          <td>15:30</td>
          <td class="text-center" colspan="2">
            <a href="/2017/ai-and-law-an-overview/">
              <b>AI &amp; Law: an overview from an argumentation perspective</b>
              <br>
              Henry Prakken
            </a>
          </td>
        </tr>
        <tr>
          <td>16:15</td>
          <td class="text-center" colspan="2">
            <b>Discussion</b>
            <br>
              Frank Leone
          </td>
        </tr>
        <tr>
          <td>17:15</td>
          <td class="text-center" colspan="2"><b>Drinks</b></td>
        </tr>
        <tr>
          <td>18:30-21:30</td>
          <td class="text-center" colspan="2">Optional dinner</td>
        </tr>

      </tbody>
    </table>
  </div>

  <hr>
  {% endif %}
  {% if site.hide_venue == false %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">

      <h2 id="venue"><small class="subheader">This year's location:</small><br> De Kube, Nijmegen <br> <a href="https://www.google.nl/maps/place/De+Kube+Honigcomplex/@51.8540942,5.8422934,17z"><p>Waalbandijk 20b, 6541 AJ Nijmegen </p></a></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="img/deKube.jpg" class="img-responsive"  alt="De Kube">
    </div>
    <div class="col-md-8">
      <p class="lead">Based in the old Honig factory complex, de Kube offers multiple halls, catering, a café and custom decoration. Ideal for this symposium.</p>
    </div>
  </div>

  <hr>
  {% endif %}
  <div class="row text-center">

    <!-- put back the order tickets button when we start sale -->
     <h2 id="order-tickets">Order tickets</h2> 


  </div>

  <div class="row text-center">

    <div class="col-md-8 col-md-offset-2">

      <p>Tickets are sold through Yapsody and Mollie and can be paid using iDeal, creditcard or PayPal. Registration closes Monday, May 8th 11:59 PM.</br>
      Use this <a target="_blank" href=" https://tinyurl.com/acais2017">link</a> (opens a new tab).</p>


      <!-- iframe doesnt work with yapsody when trying to pay
      <div style="width:100%; text-align:left;" ><iframe  src="https://tinyurl.com/acais2017" frameborder="0" height="500" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
      -->
    </div>
  </div>

  <hr>

  <div class="row text-center">

    <h3>Sponsors:</h3>
    <div class="row text-center">
      <div class="col-md-6 img-responsive">
        <a href="http://svcognac.nl/">
          <img height="175px" width="175px" src="/img/2015/cognac.png" alt="CognAC">
        </a>
      </div>
      <div class="col-md-6 img-responsive">
        <a href="http://ii.tudelft.nl/bnvki/">
          <img src="/img/2015/sponsor.png" alt="BNVKI">
        </a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 img-responsive">
        <a href="http://ru.nl">
          <img src="/img/2015/ru.png" alt="Radboud University">
        </a>
      </div>

      <div class="col-md-6 img-responsive">
        <a href="http://www.ru.nl/snuf/">
          <img src="/img/2015/logosnufkleurgroot.jpg" alt="SNUF">
        </a>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-10 col-md-offset-1 text-center">
      <h2 id="who-are-we">Who are we?</h2>

      <p>ACAIS is an annual symposium organised by a team of students, all studying Artificial Intelligence at the <a href="http://www.ru.nl">Radboud University</a>. ACAIS and the committee are part of study association <a href="http://svcognac.nl">CognAC</a>. Our philosophy: <em>for and by students</em>; organising an event that stimulates new insights and the exchange of information.</p>

      <p>ACAIS is non-profit and is fully funded by ticket fees, subsidies and sponsorships. See below for everyone who contributed to nine years of ACAIS history.</p>

      <p>See our <a href="previous-editions/">previous editions</a> for more information.</p>
    </div>
  </div>

  <div class="row" id="">
    <div class="col-md-3 committee-overview">
      <h3><a href="/2017/">ACAIS 2017</a>: SurvAIval</h3>
      <ul>
        <li>Jesse Zwamborn (Chairman)</li>
        <li>Matthijs de Jong (Secretary)</li>
        <li>Sean Gies (Treasurer)</li>
        <li>Esra Bakker</li>
        <li>Kelly Karremans</li>
        <li>Djamari Oetringer</li>
        <li>Jetske Adams</li>
        <li>Lars Bokkers</li>
        <li>Codruta Lugoj</li>
      </ul>
    </div>
    <div class="col-md-3 committee-overview">
      <h3><a href="/2016/">ACAIS 2016</a>: Best of ACAIS</h3>
      <ul>
        <li>Margo van der Stam (Chairman)</li>
        <li>Thijs Nieuwdorp (Vice-Chairman / Treasurer)</li>
        <li>Maarten Vos (Secretary)</li>
        <li>Leonieke van den Bulk</li>
        <li>Robbert Hendriks</li>
        <li>Fabian Kok</li>
        <li>Linde Kuijpers</li>
        <li>Bas Vogelzang</li>
        <li>Jesse Zwamborn</li>
      </ul>
    </div>
    <div class="col-md-3 committee-overview">
      <h3><a href="/2015/">ACAIS 2015</a>: AI in Health</h3>
      <ul>
        <li>Margo van der Stam (Chairman)</li>
        <li>Zina Al-jibouri (Secretary)</li>
        <li>Jesse Zwamborn (Treasurer)</li>
        <li>Renate Bresser</li>
        <li>Leonieke van den Bulk</li>
        <li>Wouter Bulten</li>
        <li>Robbert Hendriks</li>
        <li>Linde Kuijpers</li>
        <li>Thijs Nieuwdorp</li>
        <li>Lino Vliex</li>
        <li>Maarten Vos</li>
        <li>Bas Vogelzang</li>
        <li>Marije de Witte</li>
      </ul>
    </div>
    <div class="col-md-3 committee-overview">
      <h3><a href="/2014/">ACAIS 2014</a>: Robotics</h3>
      <ul>
        <li>Wouter Bulten (Chairman)</li>
        <li>Margo van der Stam (Vice-Chairman)</li>
        <li>Harmen Prins (Secretary)</li>
        <li>Leonieke van den Bulk (Vice-Secretary)</li>
        <li>Marije de Witte (Treasurer)</li>
        <li>Lino Vliex (Vice-Treasurer)</li>
        <li>Sanna Dinh</li>
        <li>Robert-Jan Drenth</li>
        <li>Lotus ter Haar</li>
        <li>Robbert Hendriks</li>
        <li>Maarten Vos</li>
        <li>Jesse Zwamborn</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 committee-overview">
      <h3><a href="/2013/">ACAIS 2013</a>: Life</h3>
      <ul>
        <li>Wouter Bulten (Chairman)</li>
        <li>Frank Dorssers (Secretary)</li>
        <li>Marije de Witte (Treasurer)</li>
        <li>Robert-Jan Drenth</li>
        <li>Robbert Hendriks</li>
        <li>Denise Slotman</li>
        <li>Margo van der Stam</li>
        <li>Jelte van Waterschoot</li>
      </ul>
    </div>
    <div class="col-md-3 committee-overview">
      <h3><a href="/2012/">ACAIS 2012</a>: The Web</h3>
      <ul>
        <li>Wouter Bulten (Chairman)</li>
        <li>Frank Dorssers (Secretary)</li>
        <li>Marije de Witte (Treasurer)</li>
        <li>Senna van Iersel</li>
        <li>Jules Kruijswijk</li>
        <li>Denise Slotman</li>
        <li>Jasper van der Waa</li>
        <li>Jelte van Waterschoot</li>
      </ul>
    </div>


    <div class="col-md-3 committee-overview">
      <h3><a href="/2011/">ACAIS 2011</a>: Future Helpers</h3>
      <ul>
        <li>Wouter Bulten (Chairman)</li>
        <li>Laurie Bax (Secretary)</li>
        <li>Marije de Witte (Treasurer)</li>
        <li>Jelte van Waterschoot</li>
      </ul>
    </div>
    <div class="col-md-3 committee-overview">
      <h3><a href="/2010/">ACAIS 2010</a>: AI Everywhere</h3>
      <ul>
        <li>Bart van Delft (Chairman)</li>
        <li>Jelmer Wolterink (Treasurer)</li>
        <li>Wouter Bulten</li>
        <li>Andrea Loing</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 committee-overview">
      <h3><a href="/2009/">ACAIS 2009</a>: AI &amp; Traffic</h3>
      <ul>
        <li>Bart van Delft (Chairman)</li>
        <li>Jelmer Wolterink (Treasurer)</li>
      </ul>
    </div>
    <div class="col-md-3 committee-overview">
      <h3><a href="/2008/">ACAIS 2008</a>: AI &amp; Creativity</h3>
      <ul>
        <li>Bart van Delft (Chairman)</li>
        <li>Marlieke van Kesteren</li>
        <li>Iris van Rooij</li>
        <li>Jelmer Wolterink</li>
      </ul>
    </div>
  </div>
</div>

{% endif %}
{% if site.TBA_modus == true %}
<div class="TBA">
  <div class="col-md-6 TBA-box">
    <div class="TBA-text">
      <!--
<h1 class="fronttitle"><span class="brand">ACAIS 2015:</span><br/> <span class="theme">AI in Health</span></h1>
<p class="lead">With an increasing demand, a requirement for efficiency and low costs and a strive for personally tailored care there is a lot of focus on improving healthcare.</p>
-->
      <h1 class="TBA-text">To be announced...</h1>
      <p class="TBA-text">The upcoming symposium is being organised as we speak! You can: </p>
      <ul>
        <li>Stay up to date by <a href="https://www.facebook.com/ACAIS-1554509421467706">following us on facebook</a>.</li>
        <li>Check out what previous symposia were about in <a href="/previous-editions/">our archive</a>.</li>
      </ul>
    </div>
  </div> 
</div>
{% endif %}
